<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.blog.dao.EssayDao">
	<select id="getEssayList" parameterType="long" resultType="essay">
		select * from essay where user_id = #{userId}
	</select>
	<select id="getEssayCount" parameterType="long" resultType="long">
		select count(*) from essay where user_id = #{userId}
	</select>
	
	<select id="getEssayByUserIdAndId" resultType="essay">
		select * from essay where user_id = #{userId,jdbcType=BIGINT} and id = #{id,jdbcType=BIGINT} limit 1;
	</select>
	
	<insert id="saveEssay" useGeneratedKeys="true" keyProperty="id" parameterType="essay">
		insert into essay (user_id,title,flag) values (#{userId},#{title},#{flag})
	</insert>
	
	<update id="updateEssay" parameterType="essay">
		update essay
		<set>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="title != null">title = #{title},</if>
			<if test="flag != null">flag = #{flag} </if>
		</set>
		<where>
		id = #{id}
		</where>
	</update>
	
</mapper>