<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 指定 MyBatis 所用日志的具体实现 -->
		<setting name="logImpl" value="SLF4J" />
		<!-- 默认映射到驼峰式的变量名上 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 这个配置使全局的映射器启用或禁用缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<!-- 允许JDBC支持生成的键,需要适合的驱动,如果设置为true,则这个设置强制生成的键被使用,尽管一些驱动拒绝兼容但仍然有效(比如Derby) -->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 设置默认的执行器, SIMPLE没有什么特别之处,REUSE执行器重用预处理语句.BATCH执行器重用语句和批量更新-->
		<setting name="defaultExecutorType" value = "REUSE" />
		<!-- 全局启用或禁用延迟加载.当禁用时,所有的对象都会即时加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 设置超时时间,它决定驱动等待一个数据库响应的时间 -->
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	
	<!-- 别名设置 -->
	<typeAliases>
		<!-- <typeAlias alias="role" type="com.learn.lx.pojo.Role"/> -->
		<!-- <typeAlias alias="user" type="com.lx.blog.model.User"/> -->
		<package name="com.lx.blog.model"/>
	</typeAliases>
	
	<!-- 指定映射器 -->
	<mappers>
		<!-- <mapper resource="com/lx/blog/dao/Impl/UserDaoImpl.xml"/> -->
		<!-- <package name="com.lx.blog.dao.Impl"/> -->
		<mapper resource="com/lx/blog/dao/Impl/UserDaoMapper.xml"/>
		<mapper resource="com/lx/blog/dao/Impl/UserMessageDaoMapper.xml"/>
		<mapper resource="com/lx/blog/dao/Impl/RegisterDaoMapper.xml"/>
		<mapper resource="com/lx/blog/dao/Impl/EssayDaoMapper.xml"/>
	</mappers>
	
</configuration>